// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
p {
    font-family: "FreightSansPro", "Helvetica", "sans-serif";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #F7F7F7;
}


h1 {

    font-family: "FreightSansPro", "Helvetica", "sans-serif";
    font-size: 30px;
    font-weight: 800;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}
